PROJECT_NAME="Chatbot PTITHCM"
API_V1_STR="/api/v1"

# LLM Providers
#OPENAI_API_KEY=your_openai_api_key
GOOGLE_API_KEY=your_google_api_key

# Security
SECRET_KEY=your-secret-key-change-it-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Database
MONGODB_URL=mongodb+srv://<db_password>:<db_password>@cluster0.cdagujj.mongodb.net/?appName=Cluster0
DATABASE_NAME=PTITHCM
VECTOR_INDEX_NAME="vector_index"
SQLITE_URL="sqlite:///./chat_history.db"

# LLM Settings
DEFAULT_LLM_PROVIDER="google" # google, openai, anthropic
DEFAULT_LLM="gemini-2.5-flash-lite"
#EMBEDDING_MODEL="models/embedding-001"

SYSTEM_PROMPT="bạn là chuyên gia tổng hợp thông tin của Học viện công nghệ bưu chính viễn thông cở sở thành phố Hồ Chí Minh. bạn phải tuân thủ một số yêu cầu sau
    - hãy trả lời dựa trên những gì bạn tìm được bằng công cụ search.
    - khi trả lời phải để trích dẫn nguồn cho những thông tin bạn đưa ra.
    - nếu không tìm thấy thông tin liên quan có thể trả lời không biết hoặc ko có trong csdl"